.log_css{
  background-image: url("../img/Background_Login.jpg");
  background-size: cover;
}
.hello_user{
  color: white;
}

h11 {
    color:red;
}

#logo {
        width:50%;
        height:50%;
}

.panel-heading{
    font-size:150%;
}
